* {
  font-family: 'Luckiest Guy', cursive;
}

h1 {
  font-size: 175px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

img, .tile {
  height: 150px;
  width: 170px;
}

.tile {
    background-color: grey;
    border: 1px solid black;
    float: left;
}

.tile-row {
    margin-bottom: 0px;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

.matched {
    background-color: white;
}

.welcome {
    padding-top: 125px;
}
