* {
  font-family: 'Luckiest Guy', cursive;
}

h1 {
  font-size: 175px;
  color: #FB686C;
}

h2 {
  color: #FB686C;
}

h3 {
  color: #FDF073;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

img {
  height: 150px;
  width: 170px;
}

.tile {
    background-color: #eceff1;
    border: 3px solid #90a4ae;
    float: left;
    height: 156px;
    width: 176px;
}

.tile-row {
    margin-bottom: 0px;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

.matched {
    background-color: #263238;
}

.welcome {
    padding-top: 30px;
}

.select-wrapper input.select-dropdown {
  font-size: 25px;
}

.btn {
  background-color: #3DFC9F;
  color: #263238;
}

input {
  color: #3DFC9F;
}

#timer {
  color: #34CDFC;
  font-size: 30px;
  text-align: center;
}

#gameboard {
  padding-top: 150px;
  margin-bottom: 200px;
}

#play-button {
  height: 100px;
  width: 300px;
  font-size: 60px;
  padding-top: 15px;
  margin-top: 20px;
}

#play-again-button {
  height: 100px;
  width: 300px;
  font-size: 40px;
  padding-top: 15px;
}

.select-wrapper input.select-dropdown, #custom-search input {
  border-bottom: 1px solid #FDF073;
}

ul.dropdown-content.select-dropdown li span {
    color: #3DFC9F;
}

select {
  width: 50%;
}

.row {
  margin-bottom: 0px;
}

/*red: #FB686C
yellow: #FDF073
green: #3DFC9F
blue: #34CDFC
purple: #984AF8*/

/*blueish background: #96B0A3
text: #D5654C*/
