


.tile {
  background-color: grey;
  border: 1px solid black;
  height: 150px;
  width: 150px;
  float: left;
}

.tile-row {
  margin-bottom: 0px;
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.welcome {
  padding-top: 200px;
}
