.tile {
    /*background-color: #bcaaa4;*/
    border: 3px solid #263238;
    height: 156px;
    width: 176px;
    display: inline-block;
}

.hidden-tile {
  background-color: #F5F4E2;
  border: 3px solid #263238;
  height: 156px;
  width: 176px;
  display: inline-block;
}

.board-row {
    margin-bottom: 0px;
    height: 156px;
    white-space: nowrap;
}

.miss-counter {
  font-size: 30px;
  margin: auto;
  width: 50%;
  padding: 10px;
}


/*beige background-gif color: #273338*/
